:root {
  --main-text-color: #ffffff;
  --second-text-color: #999999;

  --main-title-color: #323232;
  --second-title-color: #ffffff;
  --accent-color: #4985ff;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 36px;
  line-height: 1.47;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header {
  background-color: grey;
}
.header-list {
  display: flex;
  justify-content: flex-end;
}

.header-item + .header-item {
  margin-left: 40px;
}

.header-link {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-text-color);
}

/* hero */
.hero {
  padding-top: 220px;
  padding-bottom: 335px;
  background-color: var(--second-text-color);
}

.hero-title {
  max-width: 175px;
  margin: 0 auto 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--second-title-color);
}

.hero-text {
  max-width: 829px;
  margin: 0 auto 50px;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: var(--second-title-color);
}

.hero-btn {
  display: block;
  max-width: 200px;
  margin: 0 auto;
  padding: 13px 36px 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
}
